
<form>
    <section class="container">
    <div class="head">
        <h1 class="heading">forget password</h1>
        
    </div>
    <div class="sub_container">
       <div class="section1">
       
       </div>
       <div class="section2">
        <h2>forget password</h2>
       
         
       
       <div class="input"><input type="text" name="name" placeholder="" class="placeholder_field">
        <label class="did-floating-label">email</label>
      </div>
       
       
       <div class="input">
        <button type="button" name="button" class="button">send email</button>
       </div> 
       
       <div class="input text1">Back to <a routerLink="/login">login</a></div>
       </div>  
    </div>
    </section>
</form>

